.env
__pycache__
*.db
*.env
# Ignore notebook checkpoints and temporary files
**/.ipynb_checkpoints/
*-checkpoint.ipynb
.coverage
venv/
.vscode
.clinerules/
app/docs/*
GEMINI.md
.temporal.pid
